In [10]:
import psycopg2
import csv

In [11]:
try:
    conn = psycopg2.connect("host=localhost dbname=TABLEAU_HOMEWORK user=testuser password=password")
    cur = conn.cursor()
    sql = """
        DROP TABLE IF EXISTS stg_citibike_tripdata;
        CREATE TABLE stg_citibike_tripdata
        (
         tripduration varchar
        ,starttime varchar
        ,stoptime varchar
        ,start_station_id varchar
        ,start_station_name varchar
        ,start_station_latitude varchar
        ,start_station_longitude varchar
        ,end_station_id varchar
        ,end_station_name varchar
        ,end_station_latitude varchar
        ,end_station_longitude varchar
        ,bikeid varchar
        ,usertype varchar
        ,birth_year varchar
        ,gender varchar
        );

        DROP TABLE IF EXISTS citibike_tripdata;
        CREATE TABLE citibike_tripdata
        (
         tripduration integer
        ,starttime timestamp
        ,stoptime timestamp
        ,start_station_id integer
        ,start_station_name varchar
        ,start_station_latitude numeric(20,10)
        ,start_station_longitude numeric(20,10)
        ,end_station_id integer
        ,end_station_name varchar
        ,end_station_latitude numeric(20,10)
        ,end_station_longitude numeric(20,10)
        ,bikeid integer
        ,usertype varchar
        ,birth_year integer
        ,gender integer
        );

    """
    cur.execute(sql)
    conn.commit()
except (Exception, psycopg2.DatabaseError) as error:
    print(error)
finally:
    if conn is not None:
        conn.close()

In [12]:
try:
    conn = psycopg2.connect("host=localhost dbname=TABLEAU_HOMEWORK user=testuser password=password")
    cur = conn.cursor()
    
    with open("./Resources/201812-citibike-tripdata.csv", 'r') as f1:
        # Skip the first header row.
        next(f1)
        #Tab or | delimited is the way to go.  Never use comma delimited files.
        cur.copy_from(f1, 'stg_citibike_tripdata', sep=',')
        conn.commit()
        
    with open("./Resources/201901-citibike-tripdata.csv", 'r') as f1:
        # Skip the first header row.
        next(f1)
        #Tab or | delimited is the way to go.  Never use comma delimited files.
        cur.copy_from(f1, 'stg_citibike_tripdata', sep=',')
        conn.commit()
        
except (Exception, psycopg2.DatabaseError) as error:
    print(error)
finally:
    if conn is not None:
        conn.close()

In [13]:
try:
    conn = psycopg2.connect("host=localhost dbname=TABLEAU_HOMEWORK user=testuser password=password")
    cur = conn.cursor()
    sql = """
        INSERT INTO citibike_tripdata
        SELECT 
         CASE WHEN tripduration = '' OR tripduration = 'NULL' THEN NULL ELSE CAST(tripduration AS integer) END
        ,CASE WHEN starttime = '' OR starttime = 'NULL' THEN NULL ELSE CAST(starttime AS timestamp) END
        ,CASE WHEN stoptime = '' OR stoptime = 'NULL' THEN NULL ELSE CAST(stoptime AS timestamp) END
        ,CASE WHEN start_station_id = '' OR start_station_id = 'NULL' THEN NULL ELSE CAST(start_station_id AS integer) END
        ,CASE WHEN start_station_name = '' OR start_station_name = 'NULL' THEN NULL ELSE CAST(start_station_name AS varchar) END
        ,CASE WHEN start_station_latitude = '' OR start_station_latitude = 'NULL' THEN NULL ELSE CAST(start_station_latitude AS numeric(20,10)) END
        ,CASE WHEN start_station_longitude = '' OR start_station_longitude = 'NULL' THEN NULL ELSE CAST(start_station_longitude AS numeric(20,10)) END
        ,CASE WHEN end_station_id = '' OR end_station_id = 'NULL' THEN NULL ELSE CAST(end_station_id AS integer) END
        ,CASE WHEN end_station_name = '' OR end_station_name = 'NULL' THEN NULL ELSE CAST(end_station_name AS varchar) END
        ,CASE WHEN end_station_latitude = '' OR end_station_latitude = 'NULL' THEN NULL ELSE CAST(end_station_latitude AS numeric(20,10)) END
        ,CASE WHEN end_station_longitude = '' OR end_station_longitude = 'NULL' THEN NULL ELSE CAST(end_station_longitude AS numeric(20,10)) END
        ,CASE WHEN bikeid = '' OR bikeid = 'NULL' THEN NULL ELSE CAST(bikeid AS integer) END
        ,CASE WHEN usertype = '' OR usertype = 'NULL' THEN NULL ELSE CAST(usertype AS varchar) END
        ,CASE WHEN birth_year = '' OR birth_year = 'NULL' THEN NULL ELSE CAST(birth_year AS integer) END
        ,CASE WHEN gender = '' OR gender = 'NULL' THEN NULL ELSE CAST(gender AS integer) END
        FROM stg_citibike_tripdata;
    """
    cur.execute(sql)
    conn.commit()
except (Exception, psycopg2.DatabaseError) as error:
    print(error)
finally:
    if conn is not None:
        conn.close()